:root {
    --StudioBlueColor: rgba(33, 150, 243, 1);
    --MainBlackColor: rgba(33, 33, 33, 1);
    --MainWhiteColor: rgba(255, 255, 255, 1);
    --MainGreyColor: rgba(117, 117, 117, 1);
    --SecondGreyColorShadow: rgba(175, 177, 184, 1);
    --BacgroundGafitColor: rgba(47, 48, 58, 1);
    --BacgroundLightGafitColor: rgba(245, 244, 250, 1);
    --FontLogoRaleway: font-family: "Raleway", sans-serif;
    --FontDefaultRoboto: font-family: "Roboto", sans-serif;
    --MainTransition: cubic-bezier(0.4, 0, 0.2, 1);
    --MainBorderRadius4px: 4px;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--MainBlackColor);
    list-style: none;
}

h1 {
    color: var(--MainWhiteColor);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0;
    border: 0;
}

/* V --------------------menu-------------------------- V */
/* nazwa zgodna ze specyfikacją FIGMY sekcja opisana jako menu */
.menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    max-height: 100%;
    border-bottom: solid 1px #ECECEC;
}

.menu__space-between {
    display: flex;
    margin: 0;
    justify-content: space-between;
}

/* \/ nowy wewnętrzny blok -------------------logo --------------------\/ */

.logo {
    display: flex;
    gap: 93px;
    align-items: center;
}

.logo__blue {
    font-family: var(--FontLogoRaleway);
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    color: var(--StudioBlueColor);
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo__black {
    font-family: var(--FontLogoRaleway);
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    color: var(--MainBlackColor);
    letter-spacing: 0.03em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.logo__white {
    font-family: var(--FontLogoRaleway);
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color: var(--MainWhiteColor);
    letter-spacing: 0.03em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.logo__black:hover,
.logo__black:focus {
    color: var(--StudioBlueColor);
    cursor: pointer;
}

/* /\ nowy wewnętrzny blok -------------------logo --------------------/\ */
/* \/ nowy wewnętrzny blok -------------------nav --------------------\/ */

.nav {
    display: flex;
    align-items: center;
    height: 80px;
    max-height: 100%;
    margin: 0;
    border: 0;
    gap: 46px
}

.nav__element {
    font-family: var(--FontDefaultRoboto);
    font-style: normal;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02;
    color: var(--MainBlackColor);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.nav__element:hover,
.nav__element:focus {
    color: var(--StudioBlueColor);
    cursor: pointer;
}

.nav__element--underline::after {
    position: absolute;
    height: 4px;
    width: 100%;
    content: "";
    background-color: var(--StudioBlueColor);
    border-radius: 2px;
    left: 0;
    bottom: -32px;
}

/* /\ wewnętrzny blok -------------------nav --------------------/\ */
/* \/ nowy wewnętrzny blok -------------------contact --------------------\/ */

.contact {
    display: flex;
    margin: 0;
    border: 0;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.contact__element {
    font-family: var(--FontDefaultRoboto);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--MainGreyColor);
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
    display: flex;
    gap: 10px;
}

.contact__envelope-icon,
.contact__icon-smartphone {
    fill: var(--MainGreyColor);
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.contact__element:hover,
.contact__element:focus,
.contact__element:hover .icon-smartphone,
.contact__element:focus .icon-smartphone,
.contact__element:hover .envelope-icon,
.contact__element:focus .envelope-icon {
    fill: var(--StudioBlueColor);
    color: var(--StudioBlueColor);
    cursor: pointer;
}


/* /\ wewnętrzny blok -------------------contact --------------------/\ */
/* /\ --------------------menu-------------------------- /\ */

/* \/ --------------------header-------------------------- \/ */
/* nazwa zgodna ze specyfikacją FIGMY sekcja opisana jako header */

.header {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(255, 255, 255, 0)), url("../images/backgroundteamimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    max-height: 100%;
    margin: 0;
}

.header__button {
    color: var(--MainWhiteColor);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--StudioBlueColor);
    text-decoration: none;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: var(--MainBorderRadius4px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-transform: none;
    cursor: pointer;
}

.header__button:hover,
.header__button:focus {
    cursor: pointer;
}

/* /\ --------------------header-------------------------- /\ */

/* V --------------------modal-------------------------- V */

.modal__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    justify-content: center;
}

.modal__hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-duration: 500ms;
    transition-timing-function: var(--MainTransition);
}

.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: calc((100%- 581px)/2);
    bottom: calc((100% - 581px)/2);
    left: calc((100% - 528px)/2);
    right: calc((100% - 528px)/2);
    border-radius: var(--MainBorderRadius4px);
    background: var(--MainWhiteColor);
    opacity: inherit;
    visibility: inherit;
    transition-property: visibility, opacity;
    transition-duration: 500ms;
    transition-timing-function: var(--MainTransition);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__close-button {
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--MainWhiteColor);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}


.modal__heading {
    font-family: var(--FontDefaultRoboto);
    color: var(--MainBlackColor);
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 3%;
    text-align: center;
    margin: 0;
}

/* V  nowy blok wewnętrzny --------------------fieldset-------------------------- V */

.fieldset {
    display: flex;
    position: relative;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: var(--MainBorderRadius4px);
    width: 448px;
    height: 40px;
    margin-top: 28px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0;
}

.fieldset__label {
    font-family: var(--FontDefaultRoboto);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1%;
    color: var(--MainGreyColor);
    position: absolute;
    top: -18px;
    left: 0px;
}

.fieldset__icon {
    fill: var(--MainBlackColor);
    margin-top: 9px;
    margin-left: 14px;
    margin-right: 10px;

}

.fieldset:has(input:hover),
.fieldset:has(input:focus) {
    border-color: var(--StudioBlueColor);
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.fieldset:has(input:focus) .fieldset__icon,
.fieldset:has(input:hover) .fieldset__icon {
    fill: var(--StudioBlueColor);
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.fieldset__input {
    border: 0;
    font-family: var(--FontDefaultRoboto);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1%;
    width: 100%;
}

.fieldset__input:focus {
    outline: 0;
}

/* /\ --------------------fieldset-------------------------- /\ */
/* V  nowy blok wewnętrzny --------------------textarea-------------------------- V */

.textarea {
    display: flex;
    position: relative;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: var(--MainBorderRadius4px);
    width: 448px;
    height: 120px;
    margin-top: 28px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0;
}

.textarea__label {
    font-family: var(--FontDefaultRoboto);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1%;
    color: var(--MainGreyColor);
    position: absolute;
    top: -18px;
    left: 0px;
}

.textarea__input {
    height: 100%;
    width: 100%;
    padding: 12px 16px 12px 16px;
    resize: none;
    border: 0;
    font-family: var(--FontDefaultRoboto);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1%;
    width: 100%;
}

.textarea__input:focus {
    outline: 0;
}

.textarea:has(textarea:hover),
.textarea:has(textarea:focus) {
    border-color: var(--StudioBlueColor);
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

/* /\ --------------------fieldset--------------------------/\ */
/* V nowy blok wewnętrzny --------------------terms-and-conditions-------------------------- V */

.terms-and-conditions {
    border: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.terms-and-conditions__settings {
    display: flex;
    position: relative;
    font-family: var(--FontDefaultRoboto);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3%;
    color: var(--MainGreyColor);
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    justify-content: center;
    left: 12px;
}

.terms-and-conditions__settings input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.terms-and-conditions__settings input:checked~.terms-and-conditions__custom-checkbox {
    background-color: var(--StudioBlueColor);
    border: none;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.terms-and-conditions__custom-checkbox {
    width: 16px;
    height: 15px;
    border: 1px solid var(--MainBlackColor);
    border-radius: 2px;
    position: absolute;
    left: 55px;
    top: 4px;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.terms-and-conditions__checkmark {
    position: relative;
    left: 0px;
    top: 0px;
    fill: var(--MainWhiteColor);
}

.terms-and-conditions__links {
    font-family: var(--FontDefaultRoboto);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3%;
    color: var(--StudioBlueColor);
}

/* /\ --------------------terms-and-conditions-------------------------- /\ */

.modal__submit-sector {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.modal__submit-button {
    color: var(--MainWhiteColor);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--StudioBlueColor);
    text-decoration: none;
    width: 200px;
    height: 50px;
    border: 0;
    padding: 0;
    margin-top: 30px;
    border-radius: var(--MainBorderRadius4px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-transform: none;
    cursor: pointer;
}

/* /\ --------------------modal-------------------------- /\ */



/* V --------------------advantages-------------------------- V 
nazwa zgodna ze specyfikacją FIGMY sekcja opisana jako atuty*/

.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__sector-settings {
    display: flex;
    flex-direction: column;
    height: 919px;
    max-height: 100%;
    justify-content: center;
    gap: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__list {
    display: flex;
    align-items: center;
    margin: 0 auto;
    border: 0 auto;
    padding-left: 0px;
    gap: 30px;
    list-style: none;
}

.advantages__card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.advantages__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border: 0;
    border-radius: var(--MainBorderRadius4px);
    background-color: var(--BacgroundLightGafitColor);
}

.advantages__icon {
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.advantages__icon:hover,
.advantages__icon:focus {
    fill: var(--StudioBlueColor);
    cursor: pointer;
}

.advantages__headings {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin: 0;
    border: 0 auto;
}

.advantages__descriptions {
    color: var(--MainGreyColor);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* /\--------------------advantages-------------------------- /\ */

/* \/--------------------middle-section-------------------------- \/ */

.middle-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.middle-section__heading {
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
}

.middle-section__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 30px;
}

.middle-section__image {
    position: relative;
    display: flex;
}

.middle-section__label {
    position: absolute;
    bottom: 0;
    font-family: var(--FontDefaultRoboto);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--MainWhiteColor);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
}

/* /\--------------------middle-section-------------------------- /\ */

/* \/--------------------team-section-------------------------- \/ */
.team-section {
    display: flex;
    flex-direction: column;
    background-color: var(--BacgroundLightGafitColor);
    height: 648px;
    max-height: 100%;
    justify-content: center;
    align-items: center;
}

.team-section__sector-settings {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.team-section__heading {
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
}

.team-section__list {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 0;
    justify-content: space-between;
}

/* nowy blok ------------ member-figure ---------- */
.member-figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--MainWhiteColor);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.member-figure__settings {
    margin: 0;
}

.member-figure__figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 168px;
    max-height: 100%;
}

.member-figure__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 00.03em;
    margin: 0;
}

.member-figure__role {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 00.03em;
    color: var(--MainGreyColor);
    margin: 0 auto;
}

.member-figure__social-links-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.member-figure__icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--SecondGreyColorShadow);
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.member-figure__icon:hover,
.member-figure__icon:focus {
    border-radius: 50%;
    background-color: var(--StudioBlueColor);
    fill: var(--MainWhiteColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 44px;
    height: 44px;
    cursor: pointer;
}

/* nowy blok ------------ member-figure ---------- */
/* /\--------------------team-section-------------------------- /\ */

/* \/--------------------customers-section-------------------------- \/ */

.customers-section {
    display: flex;
    flex-direction: column;
    height: 372px;
    max-height: 100%;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
}

.customers-section__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
}

.customers-section__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    gap: 30px;
}

.customers-section__icon {
    width: 170px;
    height: 92px;
    border: solid 1px var(--SecondGreyColorShadow);
    border-radius: var(--MainBorderRadius4px);
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--SecondGreyColorShadow);
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.customers-section__icon:hover {
    fill: var(--StudioBlueColor);
    border-color: var(--StudioBlueColor);
    cursor: pointer;
}

/* /\--------------------customers-section-------------------------- /\ */


/**************************** PORTFOLIO PAGE *************************/
/* \/---------------------------portfolio--------------------------- \/ */


.portfolio {
    height: 1548px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.portfolio__button-list {
    display: flex;
    justify-content: center;
    margin: 0;
    border: 0;
    padding: 0;
    gap: 8px;
    list-style: none;
}

.portfolio__button {
    color: var(--MainBlackColor);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--BacgroundLightGafitColor);
    border: 0;
    border-radius: var(--MainBorderRadius4px);
    text-decoration: none;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    padding: 6px 20px 6px 20px;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.portfolio__button:hover,
.portfolio__button:focus {
    color: var(--MainWhiteColor);
    background-color: var(--StudioBlueColor);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

/* \/  nowy blok wewnętrzny --------------------cards-block------------------------- \/ */

.cards-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    gap: 30px;
    column-gap: 30px;
}

.cards-block__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: var(--MainWhiteColor);
    flex-basis: calc((100%-2*30px)/3);
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.cards-block__overlay {
    position: relative;
    overflow: hidden;
    height: 294px;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.cards-block__element--inside-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    transform: translatey(100%);
    transition: transform 250ms;
    transition-timing-function: var(--MainTransition);
    background-color: rgba(33, 150, 243, 0.9);
    padding-top: 39px;
    padding-left: 24px;
    padding-right: 45px;
    padding-bottom: 49px;
    font-family: var(--FontDefaultRoboto);
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--MainWhiteColor);
    margin: 0;
}

.cards-block__element:hover .cards-block__element--inside-animation {
    transform: translatey(0);
}

.cards-block__element:hover {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.cards-block__element-border {
    display: flex;
    flex-direction: column;
    border-right: solid 1px rgba(238, 238, 238, 1);
    border-bottom: solid 1px rgba(238, 238, 238, 1);
    border-left: solid 1px rgba(238, 238, 238, 1);
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 370px;
    height: 101px;
    gap: 4px;
}

.cards-block__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    margin: 0 0 0 24px;
}

.cards-block__description {
    color: var(--MainGreyColor);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 00.03em;
    margin: 0 0 0 24px;
}

/* /\  nowy blok wewnętrzny --------------------cards-block-------------------------- /\ */
/* /\--------------------portfolio-block-------------------------- /\ */

/* \/--------------------footer-------------------------- \/ */


.footer {
    background-color: var(--BacgroundGafitColor);
    font-style: normal;
    display: flex;
    justify-content: center;
    height: 252px;
    gap: 70px;
    padding-top: 70px;
}

.logo__white {
    font-family: var(--FontLogoRaleway);
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color: var(--MainWhiteColor);
    letter-spacing: 0.03em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.logo__white:hover,
.logo__white:focus {
    color: var(--StudioBlueColor);
    cursor: pointer;
}

.footer__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    border: 0;
    padding-left: 0;
    margin-top: 20px;
}

.footer__adress {
    font-family: var(--FontDefaultRoboto);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 00.03em;
    color: var(--MainWhiteColor);
    text-decoration: none;
}

.footer__email {
    font-family: var(--FontDefaultRoboto);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 00.03em;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.footer__email:hover,
.footer__email:focus {
    color: var(--StudioBlueColor);
    cursor: pointer;
}

.footer__tel {
    font-family: var(--FontDefaultRoboto);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 00.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.footer__tel:hover,
.footer__tel:focus {
    color: var(--StudioBlueColor);
    cursor: pointer;
}

.footer__heading {
    font-family: var(--FontDefaultRoboto);
    font-style: bold;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 3%;
    line-height: 16.41px;
    color: var(--MainWhiteColor);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 12px;
}

.footer__icons {
    display: flex;
    gap: 10px;
    padding-top: 20px;
}

.footer__icons--animation {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--MainWhiteColor);
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.footer__icons--animation:hover,
.footer__icons--animation:focus {
    border-radius: 50%;
    background-color: var(--StudioBlueColor);
    fill: var(--MainWhiteColor);
    gap: 10px;
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.footer__newsletter-send-form {
    width: 358px;
    height: 50px;
    color: rgba(255, 255, 255, 0.6);
    font-family: var(--FontDefaultRoboto);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3%;
    background-color: transparent;
    border: 1px solid rgba(117, 117, 117, 0.3);
    border-radius: var(--MainBorderRadius4px);
    padding: 0 0 0 16px;
    outline: 0;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
    margin-top: 20px;
}

.footer__newsletter-send-form:focus,
.footer__newsletter-send-form:hover {
    border-color: var(--StudioBlueColor);
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.footer__submit-button {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: var(--StudioBlueColor);
    color: var(--MainWhiteColor);
    border: 0;
    border-radius: var(--MainBorderRadius4px);
    font-family: var(--FontDefaultRoboto);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 6%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: 12px;
    padding-right: 46px;
}

.footer__submit-button:hover {
    cursor: pointer;
}

.footer__icon-send-paperfly {
    fill: var(--MainWhiteColor);
    position: absolute;
    top: 13.5px;
    left: 131px;
}

/* /\--------------------footer-------------------------- /\ */