.advantages {
    margin-top: 30px;
    margin-bottom: 60px;
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    */
}

.advantages__list {
    list-style: none;
    margin: 0;
    padding: 0;
    /*
    display: flex;
    align-items: center;
    margin: 0 auto;
    border: 0 auto;
    padding-left: 0px;
    gap: 30px;
 

    */
}

.advantages__card {
    padding-top: 30px;
    width: 450px;
    margin: 0 auto;

}

.advantages__headings {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
    /*
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin: 0;
    border: 0 auto;
    */
}

.advantages__descriptions {
    color: var(--MainGreyColor);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin: 0 auto;
    width: 450px;

/* color: var(--MainGreyColor);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em; */

}

.advantages__sector-settings {

    /*
    display: flex;
    flex-direction: column;
    height: 919px;
    max-height: 100%;
    justify-content: center;
    gap: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
*/
}

.advantages__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border: 0;
    border-radius: var(--MainBorderRadius4px);
    background-color: var(--BacgroundLightGafitColor);
    /* 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border: 0;
    border-radius: var(--MainBorderRadius4px);
    background-color: var(--BacgroundLightGafitColor);
    */
    
}