.form-modal {
    display: flex;
    flex-direction: column;
    position: relative;

    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
        width: 450px;
    }
}

.form-modal__label {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-align: start;

    color: var(--title-text-color);
}

.form-modal__input {
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: all 0.2s ease-out;

    &:focus,
    &:hover {
        outline: none;
        border: 1px solid var(--accent-color);
        border-radius: 4px;
    }

    @media screen and (max-width: 479px) {
        width: calc(100vw - 80px);
    }
}

.form-modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: all 0.2s ease-out;

    .form-modal__input:focus~&,
    .form-modal__input:hover~& {
        fill: var(--accent-color);
    }
}

.form-modal__textarea {
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: all 0.2s ease-out;

    &:hover,
    &:focus {
        outline: none;
        border: 1px solid var(--studio-blue-color);
        border-radius: 4px;
    }

    &::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }

    @media screen and (max-width: 479px) {
        width: calc(100vw - 80px);
    }
}