.modal__icon {
    fill: var(--MainBlackColor);
    margin-top: 9px;
    margin-left: 14px;
    margin-right: 10px;

}

.advantages__icon {
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.member-figure__icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--SecondGreyColorShadow);
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.customers-section__icon {
    width: 170px;
    height: 92px;
    border: solid 1px var(--SecondGreyColorShadow);
    border-radius: var(--MainBorderRadius4px);
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--SecondGreyColorShadow);
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.footer__icons {
    display: flex;
    gap: 10px;
    padding-top: 20px;
}

.footer__icon-send-paperfly {
    fill: var(--MainWhiteColor);
    position: absolute;
    top: 13.5px;
    left: 131px;
}