.logo {
    display: flex;
    gap: 93px;
    align-items: center;
}

.logo__blue {
    font-family: var(--FontLogoRaleway);
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    color: var(--StudioBlueColor);
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo__black {
    font-family: var(--FontLogoRaleway);
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    color: var(--MainBlackColor);
    letter-spacing: 0.03em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.logo__white {
    font-family: var(--FontLogoRaleway);
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color: var(--MainWhiteColor);
    letter-spacing: 0.03em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}