.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: calc((100% - 581px)/2);
    bottom: calc((100% - 581px)/2);
    left: calc((100% - 528px)/2);
    right: calc((100% - 528px)/2);
    border-radius: var(--MainBorderRadius4px);
    background: var(--MainWhiteColor);
    opacity: inherit;
    visibility: inherit;
    transition-property: visibility, opacity;
    transition-duration: 500ms;
    transition-timing-function: var(--MainTransition);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__heading {
    font-family: var(--FontDefaultRoboto);
    color: var(--MainBlackColor);
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 3%;
    text-align: center;
    margin: 0;
}

.modal__input {
    border: 0;
    font-family: var(--FontDefaultRoboto);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1%;
    width: 100%;
}

.modal__container {
    &:has(input:focus) .modal__icon,
    &:has(input:hover) .modal__icon {
        fill: var(--StudioBlueColor);
        transition-duration: 250ms;
        transition-timing-function: var(--MainTransition);
    }
}

.modal__container {
    &:has(input:hover),
    &:has(input:focus) {
        border-color: var(--StudioBlueColor);
        transition-duration: 250ms;
        transition-timing-function: var(--MainTransition);
    }
}

.modal__label {
    font-family: var(--FontDefaultRoboto);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1%;
    color: var(--MainGreyColor);
    position: absolute;
    top: -18px;
    left: 0px;
}

.modal__input {
    &:focus {
        outline: 0;
    }
}

.modal_container {
    display: flex;
    position: relative;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: var(--MainBorderRadius4px);
    width: 448px;
    height: 40px;
    margin-top: 28px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0;
}

.modal__submit-sector {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.modal__close-button {
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--MainWhiteColor);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.modal__submit-button {
    color: var(--MainWhiteColor);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--StudioBlueColor);
    text-decoration: none;
    width: 200px;
    height: 50px;
    border: 0;
    padding: 0;
    margin-top: 30px;
    border-radius: var(--MainBorderRadius4px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-transform: none;
    cursor: pointer;
}
