.nav {
    display: flex;
    align-items: center;
    height: 80px;
    max-height: 100%;
    margin: 0;
    border: 0;
    gap: 46px
}

.nav__element {
    font-family: var(--FontDefaultRoboto);
    font-style: normal;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02;
    color: var(--MainBlackColor);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.nav__element {

    &:hover,
    &:focus {
        color: var(--StudioBlueColor);
        cursor: pointer;
    }
}

.nav__element--underline {
    &::after {
        position: absolute;
        height: 4px;
        width: 100%;
        content: "";
        background-color: var(--StudioBlueColor);
        border-radius: 2px;
        left: 0;
        bottom: -32px;
    }
}