.portfolio {
    height: 1548px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.portfolio__list {
    display: flex;
    justify-content: center;
    margin: 0;
    border: 0;
    padding: 0;
    gap: 8px;
    list-style: none;
}

.portfolio__button {
    color: var(--MainBlackColor);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--BacgroundLightGafitColor);
    border: 0;
    border-radius: var(--MainBorderRadius4px);
    text-decoration: none;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    padding: 6px 20px 6px 20px;
    transition-duration: 250ms;
    transition-timing-function: var(--MainTransition);
}

.portfolio__button {

    &:hover,
    &:focus {
        color: var(--MainWhiteColor);
        background-color: var(--StudioBlueColor);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        cursor: pointer;
    }
}