.nav__element {
    &:hover,
    &:focus {
        color: var(--StudioBlueColor);
        cursor: pointer;
        }
    }

.nav__element--underline {
    &::after {
        position: absolute;
        height: 4px;
        width: 100%;
        content: "";
        background-color: var(--StudioBlueColor);
        border-radius: 2px;
        left: 0;
        bottom: -32px;
        }
    }