:root {
    --StudioBlueColor: rgba(33, 150, 243, 1);
    --MainBlackColor: rgba(33, 33, 33, 1);
    --MainWhiteColor: rgba(255, 255, 255, 1);
    --MainGreyColor: rgba(117, 117, 117, 1);
    --SecondGreyColorShadow: rgba(175, 177, 184, 1);
    --BacgroundGafitColor: rgba(47, 48, 58, 1);
    --BacgroundLightGafitColor: rgba(245, 244, 250, 1);
    --FontLogoRaleway: font-family: "Raleway", sans-serif;
    --FontDefaultRoboto: font-family: "Roboto", sans-serif;
    --MainTransition: cubic-bezier(0.4, 0, 0.2, 1);
    --MainBorderRadius4px: 4px;
}